
body{
	background: #03011F !important;
	color: white !important;
}
a{
	text-decoration: none;
	font-size: 20px;
}
input{
	display: none;
}

*,*:hover{
	transition: .3s all;
}

form > .row{
	margin: 0 !important;
}
.ganres{
	margin: 0;
	padding: 0;
	margin-top: 25px;
}
.ganres .radio{
	margin: 0 !important;
}
.radio label{
	color: black; 
	background: white;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 0 !important;
    margin-right: 10px !important;
    height: fit-content !important;
    display: block;
}
.ganres .radio.bx-active label, .ganres .radio:hover label{
	background: #6873CF;
	color: white;
}



.films{
	margin-top: 40px;
}
.films .product-item{
	padding: 15px;
}
.films .product-item:hover{
	border: 1px solid white;
}

.films .product-item-title{
	text-overflow: ellipsis;
	word-wrap: break-word;
}
.films .product-item-title a{
	color: white;
	font-size: 20px;
}

.ratings {
	font-size: 20px;
	color: white;
}
.ratings img{
	padding: 7px;
}
.ratings > *{
	display: flex;
	align-items: center;
	margin-right: 20px;
}
.ratings .icon{
	border: 1px solid;
	border-radius: 8px;
	margin-right: 10px;
	background: rgba(0, 0, 0, 0);
	transition: .3s;
	cursor: pointer;
}
.like .icon{
	border-color: #3CCC65;
}
.like:hover .icon, .like.voted .icon{
	background: #3CCC65;
}
.dislike .icon{
	border-color: #CC3C3C;
}
.dislike:hover .icon, .dislike.voted .icon{
	background: #CC3C3C;
}

.dislike img{
	transform: rotate(180deg);
}

@media (min-width: 1200px){
	.container {
		width: 95% !important;
	}
}